button{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
    border: none;
    height: 50px;
    border-radius: 15px;
    padding: 10px 50px;
    background-color: #006C52;
    text-transform: uppercase;
    

}