.popup-container {
    background-color: green;
}
.popup{
    border-radius: 15px;
    position: fixed;
    width: 600px;
    height: 300px;
    background-color: #BACBBF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-bottom: 70px;
}

.popup-inner img{
margin-left: 530px;
    margin-bottom: 40px;



}
