.homepage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-container {
    display: flex;
    flex-direction: column;
    flex-basis: 585px;
    text-align: start;
    flex-grow: 1;
}
.left-container h1 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}
.left-container p {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: 5px;
    margin-bottom: 25px;
}
.home-form-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}
.home-form-container input {
    height: 50px;
    border-radius: 15px;
    border-color: #BACBBF;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
/*aanpassing in the right container*/
.right-container {
    padding-bottom: 30px;
    background-color: white;
    flex-basis: 565px;
    border: 1px solid #BACBBF;
    flex-grow: 1;
    border-radius: 25px;
}
.img-container {
    background-color: #F8F9FA;
    flex-basis: 565px;
}
.product-container{
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.product-name-container {
    text-align: start;
   padding-left: 50px;
    padding-right: 50px;
}
.product-name-container h1 {
    font-size: 36px;
}
.product-name-container h2 {
    font-size: 30px;
}
.product-name {
    font-weight: bold;
}
.product-amount {
    font-style: italic;
}
