* {
    box-sizing: border-box;
    color: #2E543A;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
}
.outer-container{
    border: 1px solid blue;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner-container{
    border: 1px solid darkgreen;
    display: flex;
    flex-direction: column;
    flex-basis: 1200px;
    flex-grow: 0;
    flex-shrink: 1;
}
/*//////////////////////////////////////*/



